.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header .logo{
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 20px;
}

.college a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.header .link h2 {
    margin: 0;
}

.college {
    gap: 20px;
}

.userLink h1 {
    text-align: center;
}
.active{
    font-weight: 900;
}